@font-face {
  font-family: "Monument";

  src: url("./fonts/MonumentGrotesk-SemiMono.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/MonumentGrotesk-SemiMono.woff") format("woff"), /* Modern Browsers */
    url("./fonts/MonumentGrotesk-Semi-Mono.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";

  src: url("./fonts/Signifier-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight : normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        }

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  color:#fff;
  font-family: "Monument", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }


h1{
  font-family: "Signifier"!important;
  font-size: 19em!important;
  text-align: center;
  line-height: 0;
}

h2{
  font-size: 1.2em;
}

h3{
  font-size: 1.4em;
  text-align: center;
}


::selection {
  background-color: white;
  color: black;
        }


.container{
  display: flex;
}

.left{
width: 50vw;
height: 100vh;
position: relative;
border-right-style: solid;
border-right-width: 2px;
border-color: #fff;
}

.right {
  width: 50vw;
  height: 100vh;
  filter: blur(2.5px);
  cursor: default;
}

.logo {
  position: relative;
  top: -80px;
  line-height: 0!important;
}
.logo-sub {
  margin-top: -75px;
}


.this {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
}

.sub {
  position: absolute;
  bottom: 20px;
  width: 50vw;
  text-align: center;
}

.slice {
  padding: 15px;
}